NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_APP_NAME=
NEXT_PUBLIC_INSTITUTION=
NEXT_PUBLIC_DEFAULT_MAP_CENTER_LAT=
NEXT_PUBLIC_DEFAULT_MAP_CENTER_LON=
NEXT_PUBLIC_GPS_POLL_SECONDS=
NEXT_PUBLIC_BIOMETRIC_BRIDGE_URL=http://127.0.0.1:8787
